<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="sy.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="sy.model.User" >
    <result column="userid" property="userid" jdbcType="INTEGER" />
    <result column="resource_id" property="resourceId" jdbcType="CHAR" />
    <result column="loginid" property="loginid" jdbcType="VARCHAR" />
    <result column="sourceCompany" property="sourcecompany" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="user_title" property="userTitle" jdbcType="VARCHAR" />
    <result column="jobCodeId" property="jobcodeid" jdbcType="INTEGER" />
    <result column="cost_center_id" property="costCenterId" jdbcType="INTEGER" />
    <result column="global_id" property="globalId" jdbcType="INTEGER" />
    <result column="emailAddress" property="emailaddress" jdbcType="VARCHAR" />
    <result column="resource_title" property="resourceTitle" jdbcType="VARCHAR" />
    <result column="platform" property="platform" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="parentResource" property="parentresource" jdbcType="CHAR" />
    <result column="supportCompany" property="supportcompany" jdbcType="INTEGER" />
    <result column="company_no" property="companyNo" jdbcType="INTEGER" />
    <result column="userLoc" property="userloc" jdbcType="INTEGER" />
  </resultMap>
  <insert id="insert" parameterType="sy.model.User" >
    insert into tt_old (userid, resource_id, loginid, 
      sourceCompany, name, user_title, 
      jobCodeId, cost_center_id, global_id, 
      emailAddress, resource_title, platform, 
      url, parentResource, supportCompany, 
      company_no, userLoc)
    values (#{userid,jdbcType=INTEGER}, #{resourceId,jdbcType=CHAR}, #{loginid,jdbcType=VARCHAR}, 
      #{sourcecompany,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{userTitle,jdbcType=VARCHAR}, 
      #{jobcodeid,jdbcType=INTEGER}, #{costCenterId,jdbcType=INTEGER}, #{globalId,jdbcType=INTEGER}, 
      #{emailaddress,jdbcType=VARCHAR}, #{resourceTitle,jdbcType=VARCHAR}, #{platform,jdbcType=VARCHAR}, 
      #{url,jdbcType=VARCHAR}, #{parentresource,jdbcType=CHAR}, #{supportcompany,jdbcType=INTEGER}, 
      #{companyNo,jdbcType=INTEGER}, #{userloc,jdbcType=INTEGER})
  </insert>
  
  <sql id="Base_Column_List">
		userid, resource_id, loginid, 
      sourceCompany, name, user_title, 
      jobCodeId, cost_center_id, global_id, 
      emailAddress, resource_title, platform, 
      url, parentResource, supportCompany, 
      company_no, userLoc
	</sql>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from tt_old
		where userid = #{userid,jdbcType=INTEGER}
	</select>
  
  <insert id="insertSelective" parameterType="sy.model.User" >
    insert into tt_old
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userid != null" >
        userid,
      </if>
      <if test="resourceId != null" >
        resource_id,
      </if>
      <if test="loginid != null" >
        loginid,
      </if>
      <if test="sourcecompany != null" >
        sourceCompany,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="userTitle != null" >
        user_title,
      </if>
      <if test="jobcodeid != null" >
        jobCodeId,
      </if>
      <if test="costCenterId != null" >
        cost_center_id,
      </if>
      <if test="globalId != null" >
        global_id,
      </if>
      <if test="emailaddress != null" >
        emailAddress,
      </if>
      <if test="resourceTitle != null" >
        resource_title,
      </if>
      <if test="platform != null" >
        platform,
      </if>
      <if test="url != null" >
        url,
      </if>
      <if test="parentresource != null" >
        parentResource,
      </if>
      <if test="supportcompany != null" >
        supportCompany,
      </if>
      <if test="companyNo != null" >
        company_no,
      </if>
      <if test="userloc != null" >
        userLoc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="resourceId != null" >
        #{resourceId,jdbcType=CHAR},
      </if>
      <if test="loginid != null" >
        #{loginid,jdbcType=VARCHAR},
      </if>
      <if test="sourcecompany != null" >
        #{sourcecompany,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="userTitle != null" >
        #{userTitle,jdbcType=VARCHAR},
      </if>
      <if test="jobcodeid != null" >
        #{jobcodeid,jdbcType=INTEGER},
      </if>
      <if test="costCenterId != null" >
        #{costCenterId,jdbcType=INTEGER},
      </if>
      <if test="globalId != null" >
        #{globalId,jdbcType=INTEGER},
      </if>
      <if test="emailaddress != null" >
        #{emailaddress,jdbcType=VARCHAR},
      </if>
      <if test="resourceTitle != null" >
        #{resourceTitle,jdbcType=VARCHAR},
      </if>
      <if test="platform != null" >
        #{platform,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="parentresource != null" >
        #{parentresource,jdbcType=CHAR},
      </if>
      <if test="supportcompany != null" >
        #{supportcompany,jdbcType=INTEGER},
      </if>
      <if test="companyNo != null" >
        #{companyNo,jdbcType=INTEGER},
      </if>
      <if test="userloc != null" >
        #{userloc,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>